<nav>
  <ul>
        <li><a routerLink="/sellers" routerLinkActive="active">sellers</a></li>
        <li><a routerLink="/products" routerLinkActive="active">products</a></li>
        <li><a routerLink="/seller_products" routerLinkActive="active">seller_products</a></li>
        <li><a routerLink="/admin_page" routerLinkActive="active">control users</a></li>
    <li><a routerLink="/products_list" routerLinkActive="active">List of your products</a></li>
    <li><a routerLink="/logout">logout</a></li>

  </ul>
</nav>


<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
