<!--<nav class="login_link">-->
<!--  <ul>-->
<!--&lt;!&ndash;    <li><a routerLink="/sellers" routerLinkActive="active">sellers</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li><a routerLink="/products" routerLinkActive="active">products</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li><a routerLink="/seller_products" routerLinkActive="seller_products">seller_products</a></li>&ndash;&gt;-->


<!--    <li><a routerLink="/register">register</a></li>-->
<!--    <li><a routerLink="/login">login</a></li>-->
<!--&lt;!&ndash;    <li><a routerLink="/logout">logout</a></li>&ndash;&gt;-->



<!--  </ul>-->
<!--</nav>-->


<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
