<dx-data-grid id="dataGrid"
              [dataSource]="sellers"
              [allowColumnReordering]="true"
              [showBorders] = "true"
              [showRowLines] = "true"

              (onRowUpdating)="updateRow($event)"
              (onRowUpdated)="updatedRow($event)"

              (onRowRemoving)="rowRemoving($event)"


              (onRowRemoved)="rowRemoved($event)"

>
<!--  (onInitNewRow)="initNewRow($event)"-->
  <!--  (onRowRemoved)="rowRemoved($event)"-->
  <dxi-column dataField="name"></dxi-column>
  <dxi-column dataField="id" [allowEditing]="false" >
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>

  <dxo-editing
    [allowUpdating]="true"
    [allowDeleting]="true"
    mode="popup">
  </dxo-editing>
</dx-data-grid>
<li><a routerLink="/logged_in">back</a></li>
