<dx-data-grid id="dataGrid"
              [dataSource]="products"
              [allowColumnReordering]="true"
              [showBorders] = "true"
              [showRowLines] = "true"




>


  <!--  (onRowRemoved)="rowRemoved($event)"-->
  <dxi-column dataField="id" caption="Product ID">
    <!--    [allowEditing]="false"-->
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="name" caption="Product Name"></dxi-column>

  <dxi-column dataField="num" caption="number"></dxi-column>
  <dxi-column dataField="price" caption="price"></dxi-column>



</dx-data-grid>

<li><a routerLink="/logged_in">back</a></li>
